@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: rgb(47, 255, 116);
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}
#excuse {
  color: white;
  text-align: center;
  margin-top: 150px;
}
